@import "tailwindcss";

/* Assicurati che Tailwind sia caricato */
:root {
  --color-accent: #10b981;
}

@layer base {
  body {
    background-color: #18181b;
    color: #d4d4d8;
    min-height: 100vh;
    border-top: 4px solid var(--color-accent);
  }
}

